.navigation {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--darkGray);
  height: 100vh;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: opacity .3s ease-in-out;
}

.navigation[aria-hidden=false] {
  opacity: 1;
}

.navigation[aria-hidden=true] {
  opacity: 0;
  pointer-events: none;
}

.navigation .navigation_list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  padding-inline: 1.5rem;
  padding-top: 6rem;
}

.navigation .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1.5rem;
  padding-bottom: 2rem;
  font-size: .8em;
  color: var(--bgWhite);
}

.list_item a {
  color: var(--pink);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.4em;
}

.list_item a::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  border-radius: 50%;
  background-color: var(--white);
  transition: all .3s ease-in-out;
}

.menu_mobile {
  display: block;
  text-transform: uppercase;
  color: var(--white);
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: fit-content;
  height: 30px;
}

.menu_mobile[data-menu-hidden=false] {
  border-radius: 50%;
  border: 2px solid var(--white); 
  width: 30px;
  height: 30px;
  position: relative;
}

.menu_mobile[data-menu-hidden=false] span {
  display: block;
  width: 18px;
  height: 2px;
  background-color: var(--white);
  position: absolute;
}

.menu_mobile[data-menu-hidden=false] span:first-of-type {
  transform: rotate(45deg);
  left: 4px;
  top: 12px;
}

.menu_mobile[data-menu-hidden=false] span:last-of-type {
  transform: rotate(-45deg);
  right: 4px;
  bottom: 12px;
}

.menu_mobile[data-menu-hidden=true] {
  border: none;
}

.horizontal_menu_btn {
  display: none;
}

@media (min-width: 1200px) {
  .navigation {
    width: 100%;
    position: static;
    background-color: transparent;
    height: auto;
    z-index: 0;
    display: block;
  }

  .navigation[aria-hidden=true] {
    opacity: 1;
    pointer-events: all;
  }
  
  .navigation .navigation_list {
    flex-direction: row;
    align-items: center;
    gap: 4rem;
    padding-inline: 2rem;
    padding-top: 0rem;
  }

  .navigation .footer {
    display: none;
  }
    
  .menu_mobile {
    display: none;
  }

  .list_item a {
    color: var(--white);
    font-weight: normal;
    font-size: .9em;
  }

  .list_item a:hover::after {
    width: 100%;
  }	

  .horizontal_menu_btn {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: .3rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
  }

  .horizontal_menu_btn:hover {
    gap: .5rem;
  }
  
  .horizontal_menu_btn span {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--white);
  }
}