<a href="#" class="btn_base">
  <slot />
</a>

<style>
  .btn_base {
    width: fit-content;
    border-radius: 50px;
    padding-inline: 2rem;
    padding-block: .5rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .8em;
    position: relative;
    overflow: hidden;
    border: 1px solid var(--textColor);
    color: var(--textColor);
  }

  .btn_base:after {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition: all .2s ease-in-out;
    background-color: var(--textColor);
  }

  .btn_base:hover::after {
    height: 100%;
  }

  .btn_base:hover {
    color: var(--bgColor);
  }

</style>