---
const { type } = Astro.props;
---

<div class={`noise ${type === 'header' ? 'noise_header' : 'noise_bg'}`}></div>

<style>
  @keyframes noise {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-50%, -50%);
    }
  }

  .noise {
    background-image: url('/assets/noise.png');
    width: 200%;
    inset: 0;
    z-index: -1;
    pointer-events: none;
    animation: noise 0.2s infinite linear;
  }

  .noise_bg {
    height: 200dvh;
    position: fixed;
  }

  .noise_header {
    position: absolute;
    top: 0;
    left: 0;
    height: 200%;
  }
</style>